* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.responsive-container>h1,p {
  color: #fff;
}
.job-desc {
  width: 70%;
}
.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}
.home-container {
  height: 100vh;
  width: 100vw;
}
@media (min-width: 1025px) {
  .responsive-container {
    height: 100%;
    padding-top: 10%;
  }
  .find-jobs-btn {
    margin-top: 5%;
    background-color: #4f46e5;
  }
}
@media (min-width: 578px) and (max-width: 1024px) {
  .responsive-container {
    padding-top: 18%;
  }
  .find-jobs-btn {
    margin-top: 16%;
  }
}

@media (max-width: 576px) {
  .responsive-container {
    padding-top: 18%;
  }
  .find-jobs-btn {
    margin-top: 26%;
  }
}