.job-details-item-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.responsive-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 75vw;
}
.profile-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin-top: 200px;
}
.render-group-items {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.job-details-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}
.details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.details-container>div:nth-child(2) {
margin: auto;
text-align: center;
}
.search-input {
  display: flex;
  align-self: flex-start;
  background: transparent;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  color: #fff;
  margin-left: 20px;
  border-radius: 8px;
  border: 1px solid #7e858e;
  margin-bottom: 15px;
  margin-top: 15px;
}
.search-input-content {
  display: flex;
  background: transparent;
  width: 80%;
  border-radius: 5px;
  padding: 10px;
  outline: none;
  font-size: 16px;
  color: #fff;
  margin-left: 20px;
  border-radius: 8px;
  border: 1px solid #7e858e;
  margin-bottom: 15px;
  margin-top: 15px;
}
.search {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 16px;
  width: 450px;
}
.search-failure {
  background-color: transparent;
  color: #ffffff;
  font-family: 'Roboto';
  align-self: center;
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
  padding-left: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 16px;
  width: 450px;
}
.search-icon {
  color: #fff;
  font-size: 20px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
}
.failure-heading {
  font-size: 42px;
  font-family: 'roboto';
  font-weight: bold;
  color: #fff;
}
.failure-desc {
  font-size: 18px;
  font-family: 'roboto';
  color: #fff;
}
.search-button {
  background: transparent;
  border: none;
}
.no-jobs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1000px;
}
.no-jobs {
  width: 400px;
}
.no-jobs-heading {
  font-size: 36px;
  font-family: 'Roboto';
  font-weight: bold;
  color: #fff;
}
.no-jobs-desc {
  font-size: 18px;
  font-family: 'Roboto';
  color: #fff;
}
.jobs-failure-button {
  background-color: #4f46e5;
  border: none;
  width: 150px;
  padding: 12px;
  font-size: 16px;
  font-family: 'Roboto';
  font-weight: 400;
  color: #fff;
  border-radius: 5px;
}

@media (max-width: 576px) {
  .render-group-items {
    display: none;
  }
.render-sm-group-items {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 50vw;
  background: #000;
  padding-top: 10px;
}
.responsive-items{
  width: 100%;
}
.job-details-container {
  padding: 0 !important;
  width: 100%;
}
.job-profile-container {
  padding: 0 !important;
}
.search-input{
  width: 90%;
}
.job-list-items{
  padding: 15px;
  margin: 12px;
}
.details-container>div:nth-child(2) {
width: 100%;
padding: 2%;
  }
.no-jobs{
  width: 100%;
}
}
